@use "@/shared/styles/variables" as *;

.button {
  display: inline-block;
  height: 28px;
  padding: 0px 25px;
  font-size: 16px;
  border-radius: 14px;
  background-color: $color-bg;
  color: $color-text;
  cursor: pointer;
  box-shadow: 0px 2px 3px $color-shadow;

  &:active {
    box-shadow: none;
    transform: translateY(0.2px);
  }
}
