@use "@/shared/styles/variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  padding: $space-2 $space-2;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 97px;
}
