@use "@/shared/styles/variables" as *;

.app {
  display: flex;
  flex-direction: column;
}

.main_layout {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  min-height: calc(100vh - 15vh);
  background-color: $color-bg;
  padding: $space-2 $space-2;
  border-top-left-radius: $radius-lg;
  border-top-right-radius: $radius-lg;
  overflow: hidden;

  // Анимация появления
  animation: slideInFromTop 0.4s ease forwards;
  transform: translateY(100%);
}

// Определение анимации
@keyframes slideInFromTop {
  to {
    transform: translateY(0);
  }
}
