.title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 46px;
  margin-left: 12px;
}

.no_questions {
  display: flex;
  text-align: center;
  margin-bottom: 46px;
  color: #a7a7a7;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;

  .add_button {
    font-size: 40px;
  }
}
